tensorflow==2.15.0
pandas
numpy
scikit-learn
tensorboard
matplotlib
streamlit
scikeras
nltk


# commands to run project

# cd testenv
# cd scripts
# ./activate

# cd..
# cd..
# py app1.py